table {
    width: 100%;
    overflow: auto;
  }
.filter-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  /* .mat-raised-button{
    color: darkblue;
  } */
  #btn + #btn {
    padding-left: 5em;
  }