<mat-tab-group mat-stretch-tabs class="mat-stretched-tabs mat-elevation-z4" (selectedTabChange)="tabClick($event)">
    <mat-tab>    
        <ng-template mat-tab-label>
          <mat-icon class="modem-tab-icon">border_color</mat-icon>
            View / Update Modem Compatibility Info
        </ng-template>
        <app-modem-info-view-page></app-modem-info-view-page>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label >
        <mat-icon class="modem-tab-icon">add</mat-icon>
          Add Modem Compatibility Info
      </ng-template>
      <app-modem-info-add-page></app-modem-info-add-page>
    </mat-tab>
  </mat-tab-group>